
     
    <!-- info section -->
<section class="info_section ">
    <div class="container">
        <h4>
            Get In Touch
        </h4>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="info_items">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Birtamode-2, Jhapa, Koshi province, Nepal
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        +977 9804957183
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        info@atsn.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-icons">
        <h4>Follow Us here</h4>
        <a href="#"><i class="fa-brands fa-facebook-f" style="font-size:40px"></i></a>
        <a href="https://www.linkedin.com/in/uttam-rai-463453287/"><i class="fa-brands fa-linkedin" style="font-size:40px"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="font-size:40px"></i></a>

    </div>
    </div>
</section>



