
        <!-- end header section -->
        <!-- slider section -->
<section class="slider_section ">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 ">
                <div class="detail-box">
                    <h1>
                        UI/UX Design and <br>
                        Web Development <br>
                        Digital Marketing
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui harum voluptatem adipisci. Quos molestiae saepe dicta nobis pariatur, tempora iusto, ad possimus soluta hic praesentium mollitia consequatur beatae, aspernatur culpa.
                    </p>
                    <a href="">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/messi.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- end slider section -->


    <!-- feature section -->
<section class="feature_section mt-5">
    <div class="container">
        <div class="feature_container">
            <div class="box">
                <div class="img-box">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <h5 class="name">
                    UI/UX Design
                </h5>
            </div>
            <div class="box active">
                <div class="img-box">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <h5 class="name">
                    Web Design
                </h5>
            </div>
            <div class="box">
                <div class="img-box">
                    <i class="fas fa-bullhorn"></i>
                </div>
                <h5 class="name">
                    Digital Marketing
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- end feature section -->
    <!-- about section -->

    <section class="about_section layout_padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="detail-box">
                        <h2>
                            About us
                        </h2>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="img-box">
                        <img src="~/Images/git.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- professional section -->

    <section class="professional_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/Images/marketing.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="detail-box">
                        <h2>
                            We Provide Professional <br>
                            UI/UX design <br>
                            Web Development <br >
                            Digital Marketing
                
                        </h2>
                        <p>
                            randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All randomised words which don't look even slightly
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end professional section -->
    <!-- service section -->

<section class="service_section layout_padding">
    <div class="container ">
        <div class="heading_container heading_center">
            <h2> Our Services </h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 mx-auto">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/Images/UI.jpg" alt="" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            UI/UX design
                        </h5>
                        <p>
                            when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/Images/Web.jpg" alt="" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Web Development
                        </h5>
                        <p>
                            when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mx-auto">
                <div class="box ">
                    <div class="img-box">
                        <img src="~/Images/marketing.png" alt="" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Digital Marketing
                        </h5>
                        <p>
                            when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>


    <!-- end service section -->
   
     
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <h4>
                Get In Touch
            </h4>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="info_items">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="">
                                    <div class="item ">
                                        <div class="img-box ">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            Birtamode-2, Jhapa, Koshi province, Nepal
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="item ">
                                        <div class="img-box ">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            +977 9804957183
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="item ">
                                        <div class="img-box">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                        <p>
                                            info@atsn.com
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="social-icons">
        <h4>Follow Us here</h4>
        <a href="#"><i class="fa-brands fa-facebook-f" style="font-size:40px"></i></a>
        <a href="https://www.linkedin.com/in/uttam-rai-463453287/"><i class="fa-brands fa-linkedin" style="font-size:40px"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="font-size:40px"></i></a>

      </div>
    </div>
    </section>




    <!-- end info_section -->
