

    <section class="service_section layout_padding">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2> Our Services </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Images/UI.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                UI/UX design
                            </h5>
                            <p>
                                when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Images/Web.jpg" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Web Development
                            </h5>
                            <p>
                                when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 mx-auto">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/Images/marketing.png" alt="" />
                        </div>
                        <div class="detail-box">
                            <h5>
                                Digital Marketing
                            </h5>
                            <p>
                                when looking at its layout. The point of using Lorem Ipsum is
                                that it has a more-or-less normal
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View More
                </a>
            </div>
        </div>
    </section>

    <!-- end service section -->
    <!-- info section -->
    


  